
body {
	background-image: url(../images/su_background.png);
	background-color: #2d2635 !important;
	font-family: baloo;
}

#container {
	margin-top: 400px;
}

.theCenter {
	margin: 0 auto;
	padding: 30px;
}

#attack {
	font-size: 24px;
}

#restart {
	font-size: 22px;
}

#whathappens {
	background-color: #99b4c7;
}

